<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERFILES</title>
    <link rel="stylesheet" href="/public/css/stylesPERFILES.css" />
    <link rel="icon" href="/public/img/CALAMAR.png" type="image/png" />
  </head>
  <body>
    <img
      id="logoPERFIL_1"
      src="/public/img/SCOOBY.png"
      class="iconos"
      alt="Logo"
    />
    <img
      id="logoPERFIL_2"
      src="/public/img/SHAGGY.png"
      class="iconos"
      alt="Logo"
    />
    <img
      id="logoAGREGAR_PERFIL"
      src="/public/img/AGREGARPERFIL.png"
      class="iconos"
      alt="Logo"
    />
  </body>
</html>
